Task 30 — Ops Jaanu_ Mini Ops Control Plane.json
{
  "name": "Task 30 — Ops Jaanu: Mini Ops Control Plane",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ops_control_state\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -688,
        -64
      ],
      "id": "41b8e477-0cc9-4a8f-97b3-43db1cb975da",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "ENTERYOURAC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c26d75c3-d48e-4a24-a2fb-43d35e215d6e",
              "leftValue": "={{ $json.system_paused }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        -64
      ],
      "id": "17de7f2b-10b8-4c83-a5d1-de357342ad9e",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "ENTERYOURSLACKID",
          "mode": "id"
        },
        "text": "⏸️ Ops Jaanu is currently PAUSED. No retry processing executed.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -96,
        -192
      ],
      "id": "484ef604-71a6-4dd7-a60e-f73af57496cc",
      "name": "Send a message",
      "webhookId": "ENTERYOURWEBHOOKID",
      "credentials": {
        "slackApi": {
          "id": "ENTERYOURACCOUNT",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        -64
      ],
      "id": "79bf8440-5715-4083-9092-7a1c3f9175b3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yekZGgoKONDMGZ0o",
          "mode": "list",
          "cachedResultUrl": "/workflow/yekZGgoKONDMGZ0o",
          "cachedResultName": "Task-29→ Ops Jaanu-Retry Queue Processor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        80
      ],
      "id": "bf464eae-080f-4e9a-9b07-4547d8d7237e",
      "name": "Call 'Task-29→ Ops Jaanu-Retry Queue Processor'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb302b4e-d0e0-4128-afb0-6a01cca97ca6",
              "leftValue": "={{ $json.retries_enabled }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        32
      ],
      "id": "86a1b12e-72be-4ddf-bd9d-84c45ac9429e",
      "name": "If1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "ENTERYOURID",
          "mode": "id"
        },
        "text": "Ops Jaanu Confirms :- Retries Disabled",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        224,
        -128
      ],
      "id": "81de138f-1ea1-44a9-aafb-269c83565aa4",
      "name": "Send a message1",
      "webhookId": "ENTERWEBHOOKID",
      "credentials": {
        "slackApi": {
          "id": "ENTERYOURSLACKAC",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Task-29→ Ops Jaanu-Retry Queue Processor'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae125117-b2bf-4fc4-84d4-9b0f9848c5c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3294931b033528f6418ce49618c0c9631f972baaa3ff1615e91b9e03c6efd9ff"
  },
  "id": "gx6BEAqwzwrxlwUA",
  "tags": []
}