Task-29→ Ops Jaanu-Retry Queue Processor.json
{
  "name": "Task-29→ Ops Jaanu-Retry Queue Processor",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        -32
      ],
      "id": "1a49f140-af2e-440e-961e-70c952ed99f9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM ops_retry_queue\nORDER BY created_at ASC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        -32
      ],
      "id": "fafcdbfd-727d-4f93-876c-d79442390a1a",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "ENTERYOURAC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ba8104c5-a86a-4a80-ad33-537fd3ecb26b",
              "leftValue": "={{$json.retry_count}}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        -32
      ],
      "id": "8fdf7baa-db48-4ecc-941c-30f69676e46e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ops_retry_queue",
          "mode": "list",
          "cachedResultName": "ops_retry_queue"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "retry_count": "={{$json.retry_count + 1 }}",
            "last_attempt": "={{ $now}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_attempt",
              "displayName": "last_attempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -400,
        -160
      ],
      "id": "31742747-a07b-47ec-92e4-b77efb24b2cb",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "ENTERYOURAC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ops_dead_letter",
          "mode": "list",
          "cachedResultName": "ops_dead_letter"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_id": "={{ $json.event_id }}",
            "payload": "={{ $json.payload }}",
            "failure_reason": "\"Max retries exceeded\""
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "failure_reason",
              "displayName": "failure_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "moved_at",
              "displayName": "moved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -400,
        48
      ],
      "id": "01524e1e-1474-4bbe-bb8f-f87eb565282d",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "ENTERYOURAC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "ENTERCHANNELID",
          "mode": "id"
        },
        "text": "=Jaanu Ops Bot\n\nTrue Node Fired: \n\nEvent ID: {{ $json.event_id }} \n\nRetry Count: {{ $json.retry_count }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -192,
        -178.18892099192323
      ],
      "id": "6e1e7e11-389a-474f-99c9-c9816c5aa35b",
      "name": "Send a message",
      "webhookId": "XXXXXXXXX",
      "credentials": {
        "slackApi": {
          "id": "ENTERYOURACCOUNT",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "ENTERYOURCHANNELID",
          "mode": "id"
        },
        "text": "🚨 Moved to Dead Letter",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -192,
        48
      ],
      "id": "9d328f0d-5243-43a1-b16b-9610d4d45a18",
      "name": "Send a message1",
      "webhookId": "xxxxxxxxxx",
      "credentials": {
        "slackApi": {
          "id": "ENTERYOURAC",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9291b44c-8f19-4b09-865d-c8eb33a8e5ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "xxxxxxxxxxxxx"
  },
  "id": "yekZGgoKONDMGZ0o",
  "tags": []
}